In [58]:
import pandas as pd

In [59]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep = '\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## saving data sets first

In [60]:
df.to_csv("chipotle_sales.csv",index=False)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [62]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [63]:
df['quantity']=pd.to_numeric(df['quantity'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

 df['item_price']=df['item_price'].str.replace('$','')
df['item_price']=pd.to_numeric(df['item_price'])
df.info()

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# 1. Which was the most-ordered item?

In [68]:
#Here are the top 10 most ordered item 
df.groupby(['item_name'])['item_name'].agg(['count']).sort_values(by='count',ascending=False).head(10).reset_index()

             item_name  count
0         Chicken Bowl    726
1      Chicken Burrito    553
2  Chips and Guacamole    479
3        Steak Burrito    368
4    Canned Soft Drink    301
5           Steak Bowl    211
6                Chips    211
7        Bottled Water    162
8   Chicken Soft Tacos    115
9   Chicken Salad Bowl    110

# 2. For the most-ordered item, how many items were ordered?

In [69]:
#Here are the top 10 most ordered item and ordered quantity
df.groupby(['item_name'])['item_name'].agg(['count']).sort_values(by='count',ascending=False).reset_index().head(10)

             item_name  count
0         Chicken Bowl    726
1      Chicken Burrito    553
2  Chips and Guacamole    479
3        Steak Burrito    368
4    Canned Soft Drink    301
5           Steak Bowl    211
6                Chips    211
7        Bottled Water    162
8   Chicken Soft Tacos    115
9   Chicken Salad Bowl    110

# 3. What was the most ordered item in the choice_description column?

In [71]:
#Here is the most ordered item in choice_description columns
df.groupby(['choice_description'])['choice_description'].agg(['count']).sort_values(by='count',ascending=False).reset_index().head(10)

                                  choice_description  count
0                                        [Diet Coke]    134
1                                             [Coke]    123
2                                           [Sprite]     77
3  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     42
4  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     40
5  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     36
6  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     33
7                                         [Lemonade]     33
8  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...     29
9  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]     28

# 4. How many items were ordered in total?

In [74]:
#Here is the most ordered item in choice_description columns
df.groupby(['choice_description'])['choice_description'].agg(['count']).sort_values(by='count',ascending=False).reset_index().head(10)

                                  choice_description  count
0                                        [Diet Coke]    134
1                                             [Coke]    123
2                                           [Sprite]     77
3  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     42
4  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     40
5  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     36
6  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     33
7                                         [Lemonade]     33
8  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...     29
9  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]     28

# 5. Turn the item price into a float

In [79]:
#To convert it into first we need to remove "$" from item_price and then convert 

#step1: removing "$"

# df['item_price']=df['item_price'].str.replace("$","")

# convert into float
df['item_price']=pd.to_numeric(df['item_price'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

# 6. How much was the revenue for the period in the dataset?

In [81]:
df['item_price'].sum()

34500.16


# 7. How many orders were made in the period?

In [83]:
df['quantity'].sum()

4972

# 8. What is the average revenue amount per order?

In [84]:
df['item_price'].mean()

7.464335785374397

In [85]:
# also you can use describe() function to see mean, min, max, std etc/\.
df.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

# 9. How many different items are sold?

In [86]:
# So these is the how we can see how many different item are there
df['item_name'].uniqueque()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [87]:
# And to count how many different item are there use nunique
df['item_name'].nunique()

50